.App {
  color: #333;
  overflow-x: hidden;
  /* font-family: 'Montserrat', 'Noto Sans KR', sans-serif; */
  font-family: 'Raleway', 'Noto Sans KR', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
 }
/* ::-webkit-scrollbar {
  display: none;
} */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Raleway&display=swap');

/* 첫 메인화면 */
.bg {
  background-color: #fafaff;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  animation: rotateBg 3s forwards;
}
@keyframes rotateBg {
  100% {
    left: 0;
    /* transform: rotateX(70deg); */
    /* transform: rotateY(90deg) */
  }
}
.Main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 54px;
  font-weight: bold;
  position: relative;
  letter-spacing: 2px;
}
.Main .inner span {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
.Main .inner {
  opacity: 0;
  animation: mainChar 3s forwards;
}
.Main .inner div:nth-child(2) {
  font-size: 16px;
}
.Main .more {
  opacity: 0;
  position: absolute;
  bottom: 5%;
  font-size: 14px;
  animation: mainChar 1s 1.5s forwards;
  cursor: pointer;
}
@keyframes mainChar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Main .more_img {
  opacity: 0;
  position: absolute;
  bottom: 1%;
  width: 20px;
  animation: more 1s 2.5s infinite;
  cursor: pointer;
}
.Main .more_img img {
  width: 100%;
}
@keyframes more {
  0% {
    opacity: 1;
    bottom: 1%;
  }
  50% {
    opacity: 1;
    bottom: 0.3%;
  }
  100% {
    opacity: 1;
    bottom: 1%;
  }
}

.Main2 {
  height: 100vh;
}

* { padding: 0; margin: 0; box-sizing: border-box; scroll-behavior: smooth;}
/* li { list-style: none; } */
a { text-decoration: none; color: inherit;}
img, svg {
  vertical-align: middle;
} 
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
b, strong {
  font-weight: bolder;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: normal;
}
/* .Header_Header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0; */
  /* background-color: transparent; */
  /* z-index: 10;
  background-color: #fff;
  box-shadow: 0 1px 0.3rem hsl(0deg 0% 80% / 80%);
  color: #453a33;
}
.Header_content {
  width: 100%;
  max-width: 71.25rem;
  height: 4.5rem;
  padding: 1.25rem;
  margin: 0 auto;
}
.Header_title {
  display: inline-block;
  font-weight: 700;
  font-size: 1.5rem; */
  /* color: hsla(0,0%,100%,.7); */
  /* line-height: 2rem;
  cursor: pointer;
}
.Header_title:hover {
  color: #f4623a;
}
.Header_navi {
  float: right;
}
.Header_menu {
  display: inline-block;
  padding: 0 1rem;
  font-weight: 700;
  font-size: 1rem; */
  /* color: hsla(0,0%,100%,.7); */
  /* line-height: 2rem;
  cursor: pointer;
}
.Header_menu:hover {
  color: #f4623a;
} */
.hhh {
  background-color: #fff;
  transition: 0.3s;
}
.hhh:hover {
  filter: brightness(70%);
}
.jjj {
  transition: 0.3s;
}
.jjj:hover {
  filter: brightness(70%);
}
.PageUpButton {
  display: block;
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #fff;
  cursor: pointer;
  opacity: .5;
}
.PageUpButton_img {
  width: 100%;
}
.swiper-slide img {
  display: block;
  width: 100%;
  /* height: 350px; */
  object-fit: cover;
  transition: 0.2s;
}
#Arrimg {
  position: fixed;
  width: 40px;
  bottom: 40px;
  right: 40px;
  animation: upup 1.5s infinite;
  /* z-index: 1; */
  cursor: pointer;
}
#Arrimg img {
    width: 100%;
}
@keyframes upup {
    0% {
        bottom: 20px;
    }
    50% {
        bottom: 35px;
    }
    100%{
        bottom: 20px;
    }
}